body {
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #333;
}

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s ease; /* Adicionado para uma transição suave na mudança de cor */
}

.menu-btn:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}

.nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-container li {
    padding: 10px;
    color: white;
    transition: background-color 0.3s ease; /* Adicionado para uma transição suave na mudança de cor */
}

.nav-container li:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}

.nav-container a {
    text-decoration: none;
    color: white;
}

.header-title {
    color: white;
}

@media screen and (max-width: 767px) {
    .menu-btn {
        display: block;
    }

    .nav-container ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-container ul.show {
        display: flex;
        transition: .5s ease-out;
    }

    .nav-container {
        flex-direction: column;
        align-items: flex-start;
    }
}
